/* общие стили */

.link {
  font-size: 18px;
  line-height: 100%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.link-active {
  text-decoration: none;
  list-style: none;
}

.contacts {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  text-underline-offset: 4px;
}

.address {
  line-height: 24.3px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgb(0 0 0/0.6);
}

/* стили шапки */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 91px 50px 93px;
}

.header__contacts {
  justify-self: end;
  max-width: 240px;
}

.header__logo {
  width: 136px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  gap: 32px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  list-style: circle;
}

/* конец стилей шапки */
/* стили обложки */

.cover {
  position: relative;
  min-height: 757px;
  margin-bottom: 184px;
  background: no-repeat center url(../images/cover.jpg);
  background-size: cover;
}

.cover__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 155px 50px 50px;
}

.cover__title {
  display: block;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 135px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__title-center-aligned {
  display: block;
  margin-right: -30px;
  text-align: center;
}
А .cover__title-right-aligned {
  display: block;
  margin-right: -30px;
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: currentColor solid 1px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  background-color: transparent;
}

.bet-button:hover {
  color: #000;
  background: #fff;
}

/* конец стилей обложки */
/* стили лотов */

.lots {
  margin-bottom: 154px;
  padding: 0 24px;
}

.lots__title {
  margin-bottom: 30px;
  margin-left: 40px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.lots__section {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 33px;
}

.lot__card {
  position: relative;
  display: inline-block;
  gap: 25px;
  width: 334px;
  min-height: 596px;
  background-position: center;
  background-size: cover;
}

.lots__card-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
}

.lot__card-title {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.lot__card-description {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  text-overflow: ellipsis;
}

.lot__card-film {
  background-image: url(../images/card-lot-01.jpg);
}

.lot__card-book {
  background-image: url(../images/card-lot-02.jpg);
}

.lot__card-painting {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__see-more {
  margin-left: 40px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
}

/* конец стилей лотов */
/*стили about */

.about {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: 240px auto;
  margin-bottom: 179px;
  padding: 0 24px;
}

.about__circle-logo {
  display: flex;
  justify-items: center;
  justify-self: center;
  justify-content: center;
  align-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo {
  width: 62%;
}

.about__title {
  align-self: center;
  margin-top: 10px;
  margin-left: 25px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.about__description {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  gap: 24px;
  margin-top: 10px;
  margin-left: 25px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

/* конец about */
/* стили footer */

.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  margin-bottom: 82px;
  padding: 0 50px;
}

.footer__contacts {
  justify-self: left;
  max-width: 270px;
}

.footer__menu {
  justify-self: center;
  margin-top: 2px;
  line-height: 130%;
  text-align: center;
  list-style: none;
}

.footer__social {
  display: flex;
  flex-direction: row-reverse;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  height: 48px;
}
